body {
  font-family: "Times New Roman", Georgia, Serif;
  color:black;
}
h1, h2, h3, h4, h5, h6 {
font-family: "Playfair Display";
letter-spacing: 5px;
}
img {
  opacity: 0.8;
}
header {
  background-color: white;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


footer {
    background: #D0D0D0;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
